<template name="storeCreatePayment">
  {{# if getPack }}
    {{# with getDoc }}
      <div class="label-like">
        Monto
      </div>
      <div class="lolo">
        {{ formatMoney amount }}
      </div>
      <div class="label-like">
        Descripción
      </div>
      <div class="lolo">
        {{ description }}
      </div>
      <div class="label-like">
        Email
      </div>
      <div class="lolo">
        {{ buyerEmail }}
      </div>
    {{/ with }}
    {{# if store.isProduction }}
      <form method="post" action="https://www.flow.cl/app/kpf/pago.php">
        <input type="hidden" name="parameters" value="{{ getPack }}" />
        <button class="btn btn-cancel red" type="submit">Cancelar</button>
        <button class="btn btn-primary" type="submit">Pagar</button>
      </form>
    {{ else }}
      <form method="post" action="http://flow.tuxpan.com/app/kpf/pago.php">
        <input type="hidden" name="parameters" value="{{ getPack }}" />
        <button class="btn btn-cancel red" type="button">Cancelar</button>
        <button class="btn btn-primary" type="submit">Pagar</button>
      </form>
      <p>
        <i>Pago de prueba</i>
      </p>
    {{/ if }}
  {{ else }}
    {{> quickForm schema=getSchema id="newPaymentForm" buttonContent="Generar Pago" }}
  {{/ if }}
</template>
